In [2]:
#importing libraries

import pandas as pd
import time
import os
import requests

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

In [109]:
#connecting to web driver
driver= webdriver.Chrome(r'C:\\Users\\Dell\\Flip Robo Technologies _ Assign\\Web Scrapping\\WEB SCRAPING – ASSIGNMENT 4\\chromedriver.exe')

### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:
* A) Rank
* B) Name
* C) Artist
* D) Upload date
* E) Views

In [4]:
# url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

In [5]:
#page1 click ---> Search for "List of most-viewed YouTube videos/" in existing articles.

page1 = driver.find_element_by_xpath('//*[@id="noarticletext"]/tbody/tr/td/ul/li[2]/span')
page1.click()

In [6]:
#click on ----> containers 1

link1 = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[3]/ul/li[1]/div[1]/a')
link1.click()

In [7]:
# clicks on ----> top videos
driver.find_element_by_xpath('//span[text()="Top videos"]').click()

In [8]:
#variables
Rank1 = []
Name1 = []
Artist1 = []
Upload_date1 = []
Views1 = []

In [9]:
try:
    
    #fetching Ranks
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[*]/td[1]'):
        Rank1.append(i.text)
    
    #fetching Names
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[*]/td[2]'):
        Name1.append(i.text.replace('"',''))
    
    #fetching Artist
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[*]/td[3]'):
        Artist1.append(i.text)
    
    #fetching Upload Date
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[*]/td[5]'):
        Upload_date1.append(i.text)
    
    #fetching Views
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[*]/td[4]'):
        Views1.append(i.text)
    
except NoSuchElementException:
    pass

In [10]:
#checking length of the data
len(Rank1),len(Name1),len(Artist1),len(Upload_date1),len(Views1)

(30, 30, 30, 30, 30)

In [11]:
# creating dataframe
df_wikipedia = pd.DataFrame()
df_wikipedia['Ranks'] = Rank1
df_wikipedia['Names'] = Name1
df_wikipedia['Artists'] = Artist1
df_wikipedia['Upload Dates'] = Upload_date1
df_wikipedia['Views'] = Views1
df_wikipedia

,Ranks,Names,Artists,Upload Dates,Views
0,1.,Baby Shark Dance[23],Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.54
1,2.,Despacito[25],Luis Fonsi,"January 12, 2017",7.60
2,3.,Johny Johny Yes Papa[26],LooLoo Kids,"October 8, 2016",5.84
3,4.,Shape of You[27],Ed Sheeran,"January 30, 2017",5.50
4,5.,See You Again[28],Wiz Khalifa,"April 6, 2015",5.30
5,6.,Bath Song[31],Cocomelon – Nursery Rhymes,"May 2, 2018",4.58
6,7.,Learning Colors – Colorful Eggs on a Farm[32],Miroshka TV,"February 27, 2018",4.53
7,8.,Masha and the Bear – Recipe for Disaster[33],Get Movies,"January 31, 2012",4.46
8,9.,Uptown Funk[34],Mark Ronson,"November 19, 2014",4.34
9,10.,Phonics Song with Two Words[35],ChuChu TV,"March 6, 2014",4.25
10,11.,Gangnam Style[36],Psy,"July 15, 2012",4.23
11,12.,Dame Tu Cosita[38],El Chombo,"April 5, 2018",3.66
12,13.,Sugar[39],Maroon 5,"January 14, 2015",3.58
13,14.,Sorry[40],Justin Bieber,"October 22, 2015",3.48
14,15.,Roar[41],Katy Perry,"September 5, 2013",3.46
15,16.,Counting Stars[42],OneRepublic,"May 31, 2013",3.43
16,17.,Thinking Out Loud[43],Ed Sheeran,"October 7, 2014",3.35
17,18.,Wheels on the Bus[44],Cocomelon – Nursery Rhymes,"May 24, 2018",3.32
18,19.,Faded[45],Alan Walker,"December 3, 2015",3.17
19,20.,Dark Horse[46],Katy Perry,"February 20, 2014",3.17
20,21.,Girls Like You[47],Maroon 5,"May 31, 2018",3.16
21,22.,Lean On[48],Major Lazer,"March 22, 2015",3.11
22,23.,Bailando[49],Enrique Iglesias,"April 11, 2014",3.11
23,24.,Shake It Off[50],Taylor Swift,"August 18, 2014",3.11
24,25.,Let Her Go[51],Passenger,"July 25, 2012",3.10
25,26.,Axel F[52],Crazy Frog,"June 16, 2009",3.07
26,27.,Mi Gente[53],J Balvin,"June 29, 2017",2.99
27,28.,Perfect[54],Ed Sheeran,"November 9, 2017",2.99
28,29.,Waka Waka (This Time for Africa)[55],Shakira,"June 4, 2010",2.98
29,30.,Hello[56],Adele,"October 22, 2015",2.90

### Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:
* A) Match title (I.e. 1st ODI)
* B) Series
* C) Place
* D) Date
* E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
#url
driver.get('https://www.bcci.tv/')

In [13]:
#click on li attribute --> International -> Fixtures
driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a').click()

In [14]:
#urls variable
urls_bcci = []

#show me more ---> Button
showMeMoreButton = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/button')
showMeMoreButton.click()

In [15]:

#exception to collect urls (run time 1)
try:
    
    #T20 containers
    for i in driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-t20i fixture--long event-list-item--long"]'):
        urls_bcci.append(i.get_attribute('href'))
    
    #Test containers
    for i in driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-test fixture--long event-list-item--long"]'):
        urls_bcci.append(i.get_attribute('href'))
    
    #ODI Containers
    for i in driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-odi fixture--long event-list-item--long"]'):
        urls_bcci.append(i.get_attribute('href'))
except:
    pass

In [16]:
urls_bcci

[]

In [17]:
len(urls_bcci)

0

In [18]:
# variable's
Match_title = []
Match_series = []
Match_places = []
Match_dates = []
Match_time = []

In [19]:
#exception for each url's by clicking and grab the data using xpath's
for i in urls_bcci:
    driver.get(i)
    time.sleep(3)
    
    
    #fetching title
    try:
        title = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[1]/div/h1/strong')
        Match_title.append(title.text.replace('\n', 'new line'))
    except:
        Match_title.append('-')
        
    #fetching series
    try:
        series = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[1]/div/p/span')
        Match_series.append(series.text.replace('\n', 'new line'))
    except:
        Match_series.append('-')        
        
    
    #fetching place
    try:
        places = driver.find_element_by_xpath('//*[@id="scorecard"]/section[3]/div/ul/li[3]/span[2]')
        Match_places.append(places.text.replace('\n','new line'))
    except:
        Match_places.append('-')
        
    #fetching dates
    try:
        dates = driver.find_element_by_xpath('//div[@class="mc-header-scorebox__datetime"]/strong')
        Match_dates.append(dates.text.replace('\n', 'new line'))
    except:
        Match_dates.append('-')
        
    #fetching time 
    try:
        times = driver.find_element_by_xpath('//div[@class="mc-header-scorebox__datetime"]')
        Match_time.append(times.text.replace('\n', 'new line'))
    except:
        Match_time.append('-')

In [20]:
#checking length of the data

len(Match_title), len(Match_series),len(Match_places), len(Match_dates), len(Match_time)

(0, 0, 0, 0, 0)

In [21]:
Match_time

[]

In [22]:
# In match time column, We can see in the data date and time both merged.
# so, lets seperate it using the loop

In [23]:
time = [] #variable

#loop
for i in Match_time:
    x = i.split(',')[1]
    time.append(x)

In [24]:
len(time)

0

In [25]:
#creating data frame

df_bcci = pd.DataFrame()
df_bcci['Title']= Match_title
df_bcci['Series']= Match_series
df_bcci['Place']= Match_places
df_bcci['Date']= Match_dates
df_bcci['Time']= time
df_bcci

Empty DataFrame
Columns: [Title, Series, Place, Date, Time]
Index: []

### Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:
* A) Name
* B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [26]:
#URL
driver.get('https://www.guru99.com/')

In [27]:
#exception method

try:
    
    #xpath of ---> selenium page
    page1= driver.find_element_by_xpath('//ul[@class="menu1"]/li[3]/a')
    page1.click()
    
    #Xpath of ---> Selenium Exception Handling (Common Exceptions List) page
    page2= driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
    page2.click()

except NoSuchElementException:
    pass

In [28]:
# table xpath
table_data = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td')

In [29]:
Data = []

for i in table_data:
    x = i.text.replace('tr', 'td')
    Data.append(x)

In [30]:
len(Data)

82

In [31]:
# variables
Exception_name = []
Description = []

In [32]:
#seperating Name data from data variable
Exception_name = Data[0:82:(2)]

In [33]:
len(Exception_name)

41

In [34]:
#seperating Description data from data variable
Description =Data[1:82:(2)]

In [35]:
len(Description)

41

In [36]:
#creating data frame
df_table = pd.DataFrame()
df_table['Exception name']= Exception_name
df_table['Description']= Description
df_table

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you tdy to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttdibuteException,This kind of Exception occurs when the attdibu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:
* A) Rank
* B) State
* C) GSDP at current price (19-20)
* D) GSDP at current price (18-19)
* E) Share(18-19)
* F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [39]:
#Main page Url
page1 = 'http://statisticstimes.com/'
driver.get(page1)
time.sleep(3)

In [40]:
# menu click on ---> Economy
driver.find_element_by_xpath('//div[2][@class[1]="dropdown"]').click()

In [41]:
#menu url variables
menu_urls = []

#loop to scrap urls
for i in driver.find_elements_by_xpath('//div[@class= "dropdown"]/div/a'):
    menu_urls.append(i.get_attribute('href'))

In [42]:
#from all urls seperated ----> economy -->> india {url link}
final_url = menu_urls[4]

In [43]:
# URL click ---> 
driver.get(final_url)

In [44]:
# click on ----> Indian states ---->> GPD of indian states
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]').click()

In [45]:
#variables
Rank = []
State = []
GSDP_current_price_19_20 = []
GSDP_current_price_18_19 = []
Share_18_19 = []
GDP_billion = []

In [46]:
#exception

try:
    
    #fetching ranks
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr[*]/td[1]'):
        Rank.append(i.text)
          
    #fetching states
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr[*]/td[2]'):
        State.append(i.text)    
    
    #fetching GSDP at current price (19-20)
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr[*]/td[3]'):
        GSDP_current_price_19_20.append(i.text)
        
    #fetching GSDP at current price (18-19)
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr[*]/td[4]'):
        GSDP_current_price_18_19.append(i.text)
        
    #fetching Share(18-19)
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr[*]/td[5]'):
        Share_18_19.append(i.text)      
        
    #fetching GDP($ billion)
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr[*]/td[6]'):
        GDP_billion.append(i.text)         

    
except NoSuchElementException:
    pass

In [48]:
#checking lengths of data
len(Rank),len(State),len(GSDP_current_price_19_20),len(GSDP_current_price_18_19),len(Share_18_19),len(GDP_billion)

(33, 33, 33, 33, 33, 33)

In [50]:
# creating data frames
df_GDP_Of_India = pd.DataFrame()
df_GDP_Of_India['Ranks'] = Rank
df_GDP_Of_India['States'] = State
df_GDP_Of_India['GSDP at current price (19-20)'] = GSDP_current_price_19_20
df_GDP_Of_India['GSDP at current price (18-19)'] = GSDP_current_price_18_19
df_GDP_Of_India['Share(18-19)'] = Share_18_19
df_GDP_Of_India['GDP($ billion)'] = GDP_billion
df_GDP_Of_India

,Ranks,States,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### Q5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:
    
* A) Repository title
* B) Repository description
* C) Contributors count
* D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [68]:
#url
driver.get('https://github.com/')

In [72]:
# click on Menu---> explore
btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
btn.click()

In [73]:
#Trending
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
trending.click()

In [74]:
# containers ---> urls total count 25
containers = driver.find_elements_by_xpath('//*[@class="h3 lh-condensed"]/a')

In [75]:
#grabing urls using loop

Container_urls = [] #variable for all urls

#loop
for i in containers:
    Container_urls.append(i.get_attribute('href'))

In [76]:
len(Container_urls)

25

In [65]:
# Variables
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []


#exception
for i in Container_urls:
        driver.get(i)
        #time.sleep(3)
        

        #fetching title
        try:
            title = driver.find_element_by_xpath('//*[@id="repository-container-header"]/div[1]/div/h1/strong/a')
            Repository_title.append(title.text.replace('\n', 'new line'))
        except:
            Match_title.append('-')
            
        #fetching description
        try:
            title = driver.find_element_by_xpath('//p[@class="f4 mt-3"]')
            Repository_description.append(title.text.replace('\n', 'new line'))
        except:
            Repository_description.append('-')
            
        #fetching count
        try:
            title = driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
            Contributors_count.append(title.text.replace('\n', 'new line'))
        except:
            Contributors_count.append('-')
            
        #fetching language used
        try:
            title = driver.find_element_by_xpath('//span[@class="color-fg-default text-bold mr-1"]')
            Language_used.append(title.text.replace('\n','new line'))
        except:
            Language_used.append('-')

In [66]:
len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used)

(25, 25, 25, 25)

In [67]:
#creating data frame
df_github = pd.DataFrame()
df_github['Title'] = Repository_title
df_github['Description'] = Repository_description
df_github['Count'] = Contributors_count
df_github['Language Used'] = Language_used
df_github

,Title,Description,Count,Language Used
0,notifire,🚀 The open-source notification infrastructure ...,-,TypeScript
1,PowerToys,Windows system utilities to maximize productivity,-,C#
2,GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,-,Java
3,PD-Runner,A VM launcher for Parallels Desktop,-,Swift
4,ExplorerPatcher,This project aims to bring back a productive w...,-,C
5,Data-Science-For-Beginners,"10 Weeks, 20 Lessons, Data Science for All!",61,Jupyter Notebook
6,DSA-Bootcamp-Java,"This repository consists of the code samples, ...",86,Java
7,croc,Easily and securely send things from one compu...,58,Go
8,WorkingTime,-,2,-
9,Open-IM-Server,OpenIM：由前微信技术专家打造的基于 Go 实现的即时通讯（IM）项目，从服务端到客户端...,8,Go
10,py,Repository to store sample python programs for...,17,Jupyter Notebook
11,awesome-neovim,Collections of awesome neovim plugins.,151,-
12,copilot.vim,Neovim plugin for GitHub Copilot,-,Vim Script
13,NBMiner,"NVIDIA & AMD GPU Miner for ETH, RVN, GRIN, BEA...",-,-
14,neovim,Vim-fork focused on extensibility and usability,-,Vim Script
15,keyscope,Keyscope is a key and secret workflow (validat...,-,Rust
16,NostalgiaForInfinity,Trading strategy for the Freqtrade crypto bot,24,Python
17,mpv,🎥 Command line video player,342,C
18,T-Rex,T-Rex NVIDIA GPU miner with web control monito...,-,-
19,docs,The open-source repo for docs.github.com,-,JavaScript
20,MiRage,The most hackable keyboard in all the land,-,Python
21,taichi,Parallel programming for everyone.,-,C++
22,Windows11DragAndDropToTaskbarFix,"""Windows 11 Drag & Drop to the Taskbar (Fix)"" ...",-,C++
23,LunarVim,An IDE layer for Neovim with sane defaults. Co...,-,Lua
24,developer-roadmap,Roadmap to becoming a web developer in 2021,57,-

### Q6. Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:
* A) Song name
* B) Artist name
* C) Last week rank
* D) Peak rank
* E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [77]:
#exception to run entire scrape data using xpath clicks, nested exception and for_loops.
try:
    #url
    driver.get('https://www.billboard.com/')
    
    
    #chart page
    chartpage= driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]')
    chartpage.click()

    # THE HOT 100 page
    hot100 = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]')
    hot100.click()
    

    #variables
    Song_name = []
    Artist_name = []
    Last_week_rank = []
    Peak_rank = []
    Weeks_on_board = []


    #exceptions for scrape data
    try:
        #Song Name _ loop & xpath
        for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
            Song_name.append(i.text)
    
        #artist Name_ xpath & loop
        for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
            Artist_name.append(i.text)
        
        #last week rank _ xpath & loop
        for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
            Last_week_rank.append(i.text)
    
        #Peak_rank _ xpath & loop
        for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
            Peak_rank.append(i.text)
        
        #last week rank _ xpath & loop
        for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
            Weeks_on_board.append(i.text)        
    
    except NoSuchElementException:
        pass
except NoSuchElementException:
    pass

In [78]:
#creating data frame
df_100_hot = pd.DataFrame()
df_100_hot['Song Name'] = Song_name
df_100_hot['Artist Name'] = Artist_name
df_100_hot['Last Week Rank'] = Last_week_rank
df_100_hot['Peak Rank'] = Peak_rank
df_100_hot['Week on Board'] = Weeks_on_board
df_100_hot

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week on Board
0,Easy On Me,Adele,68,1,2
1,Stay,The Kid LAROI & Justin Bieber,2,1,15
2,Industry Baby,Lil Nas X & Jack Harlow,1,1,13
3,Fancy Like,Walker Hayes,3,3,18
4,Bad Habits,Ed Sheeran,4,2,17
...,...,...,...,...,...
95,Who's In Your Head,Jonas Brothers,95,95,2
96,Woo Baby,Pop Smoke Featuring Chris Brown,92,64,3
97,Flocky Flocky,Don Toliver Featuring Travis Scott,53,53,2
98,Like A Lady,Lady A,90,90,2
99,Just About Over You,Priscilla Block,97,97,2

### Q7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:
* A) Name
* B) Designation
* C) Company
* D) Skills they hire for
* E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [79]:
#url
url_7 = 'https://www.naukri.com/'
driver.get(url_7)

In [80]:
#recruiters option in menu
Rec_click1 = driver.find_element_by_xpath('//div[text()="Recruiters"]')
Rec_click1.click()

In [81]:
# Above button is opening a new browser page "tap" so i used url of that page directly.
driver.get('https://www.naukri.com/recruiters')

In [82]:
#input in search field
input_search = driver.find_element_by_xpath('//input[@class="sugInp"]')
input_search.send_keys('Data science')

In [83]:
#submit button
sub_btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
sub_btn.click()

In [84]:
#variable for storing ----> containers urls
containers_urls = []

#Container's 50
containers_7 = driver.find_elements_by_xpath('//a[1][@class="ellipsis"]')

In [85]:
#loop for grab -----> container urls
for i in containers_7:
    containers_urls.append(i.get_attribute('href'))

In [87]:
#variables
Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []


for i in containers_urls:
    driver.get(i)
    #time.sleep(2)


    #fetching Names
    try:
        title = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[2]/h1')
        Name.append(title.text)
    except:
        Name.append('-')
    
    #fetching Designation
    try:
        title = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[3]')
        Designation.append(title.text)
    except:
        Designation.append('-')    
            
    #fetching Company
    try:
        title = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[4]/a')
        Company.append(title.text)
    except:
        Company.append('-')
            
    #fetching Skills
    try:
        title = driver.find_element_by_xpath('//*[@id="skillInfo"]/p[1]')
        Skills_they_hire_for.append(title.text)
    except:
        Skills_they_hire_for.append('-')
            
    #fetching Location
    try:
        title = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        Location.append(title.text)
    except:
        Location.append('-')

In [88]:
#creating dataFrame
df_naukri = pd.DataFrame()
df_naukri['Name'] = Name
df_naukri['Designation'] = Designation
df_naukri['Company'] = Company
df_naukri['Skills'] = Skills_they_hire_for
df_naukri['Location'] = Location
df_naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,"Analytics , Business Intelligence , Business A...",Vadodara / Baroda
6,Institute for Financial Management and Research,Programme Manager,IFMR,Analytics & Business Intelligence,Chennai
7,Narasimha,Company Recruiter,Step Next Private Limited,-,Hyderabad / Secunderabad
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning , algorithms , Go Getter , Co...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,-,Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Junior Level, Mid Level",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Mid Level, High Level",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa , Ui , ux , Java Developer , Java Architect...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,-,Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,-,Mumbai
15,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"High Level, Mid Level",Pune
16,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,IT Skills,Pune
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data , Hadoop , Data Analytics , Data Science",Bhopal
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Junior Level, Mid Level",Hyderabad / Secunderabad
19,Manisha Yadav,HR Executive,Easi Tax,Mid Level,Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,IT-Software/Software Services,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Mid Level, Top Mangement Level",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics , Data Science , Machine Learni...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Junior Level, Mid Level",Pune
24,Shaun Rao,Manager - Human Resources,Exela Technologies,"Java , Net , Angularjs , Hr , Infrastructure ,...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Mid Level, High Level",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"High Level, Top Mangement Level",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science , Hadoop , Rpas , Devops , Python...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing , Machine Learning , Neural ...",Others
29,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,"Web Technologies , Project Management , Softwa...",Delhi
30,Priya Khare,Senior Manager,Independent Consultant,-,Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"S. Finance Manager , Freshers , Experience , S...",Bengaluru / Bangalore
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,-,Hyderabad / Secunderabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,"Mid Level, Top Mangement Level",Ghaziabad
35,Radha Manivasagam,HR Executive,Techcovery,Junior Level,Bengaluru / Bangalore
36,Prateek Kumar,Head,Trisect,Junior Level,Noida
37,Amit Sharma,Consultant,ASCO consulting,-,New Delhi
38,Kanan,senior technology instructor,NY INST,"Mid Level, Junior Level",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,-,Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Junior Level, High Level",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Python , Php , Qa Automation , Ui , Wordpre",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,-,Bengaluru / Bangalore
43,Ankit Sinha,Head-Analytics,Suntech Global,-,Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Top Mangement Level, Junior Level",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science , Node.js , Angularjs",Bengaluru / Bangalore
46,Ashwini,"Director, Global Delivery",MRP Advisers,-,MYSORE
47,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,-,Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"java , hadoop , r , Machine Learning , spark ,...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Mid Level, High Level",Mumbai

### Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:
* A) Book name
* B) Author name
* C) Volumes sold
* D) Publisher
* E) Genre

In [89]:
#url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [90]:
#variables
book_name = []
author_name = []
volumes = []
publisher = []
genre = []

try:
    #fetching names
    for i in driver.find_elements_by_xpath('//td[2][@class="left"]'):
        x= i.text.replace('tr', 'td')
        book_name.append(x)
        
    #fetching author names
    for i in driver.find_elements_by_xpath('//td[3][@class="left"]'):
        x= i.text.replace('tr', 'td')
        author_name.append(x)
        
    #fetching volumes
    for i in driver.find_elements_by_xpath('//td[4][@class="left"]'):
        x= i.text.replace('tr', 'td')
        volumes.append(x)
        
    #fetching publisher
    for i in driver.find_elements_by_xpath('//td[5][@class="left"]'):
        x= i.text.replace('tr', 'td')
        publisher.append(x)
        
    #fetching genre
    for i in driver.find_elements_by_xpath('//td[@class="last left"]'):
        x= i.text.replace('tr', 'td')
        genre.append(x)
        
except NoSuchElementExceptions:
    pass

In [91]:
#checking length of the data
len(book_name),len(author_name),len(volumes),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [92]:
#creating data frames
df_TOP100Books = pd.DataFrame()
df_TOP100Books['Title'] = book_name
df_TOP100Books['Author'] = author_name
df_TOP100Books['Volume Sales'] = volumes
df_TOP100Books['Publisher'] = publisher
df_TOP100Books['Genre'] = genre
df_TOP100Books

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministdy of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:
* A) Name
* B) Year span
* C) Genre
* D) Run time
* E) Ratings
* F) Votes

In [93]:
try:
    #url
    driver.get('https://www.imdb.com/list/ls095964455/')

    #variables
    titlename = []
    year_span = []
    Genere = []
    Run_time = []
    Ratings = []
    votes = []

    try:
        #titles
        for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a'):
            titlename.append(i.text)
        
        #year_span
        for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
            year_span.append(i.text)
        
        #Genere
        for i in driver.find_elements_by_xpath('//span[@class="genre"]'):
            Genere.append(i.text)
        
        #Run_time
        for i in driver.find_elements_by_xpath('//span[@class="runtime"]'):
            Run_time.append(i.text)
        
        #Ratings
        for i in driver.find_elements_by_xpath('//*[@id="main"]/div[*]/div[3]/div[3]/div[*]/div[2]/div[1]/div[1]/span[2]'):
            Ratings.append(i.text)
        
        #votes
        for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div[*]/div[2]/p[4]/span[2]'):
            votes.append(i.text)
        
        
    except NoSuchElementExceptions:
        pass
    
except:
    pass

In [94]:
len(titlename), len(year_span), len(Genere),len(Run_time),len(Ratings),len(votes)

(100, 100, 100, 100, 100, 100)

In [95]:
#creating dataFrames
df_IMDB = pd.DataFrame()
df_IMDB['Title Name']= titlename
df_IMDB['Year'] = year_span
df_IMDB['Genere'] = Genere
df_IMDB['Run Time'] = Run_time
df_IMDB['Rating'] = Ratings
df_IMDB['Votes'] = votes
df_IMDB

,Title Name,Year,Genere,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,892,031"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"923,866"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"909,274"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,085"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,470"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,194"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,029"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"178,874"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,409"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"209,314"

### Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:
* A) Dataset name
* B) Data type
* C) Task
* D) Attribute type
* E) No of instances
* F) No of attribute
* G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [104]:
try:
    #url
    driver.get('https://archive.ics.uci.edu/')
    #time.sleep(3)
    
    #click on --->  view all data sets
    click_10 = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
    click_10.click()
    

    #variable
    Name = []
    Data_type = []
    Task = []
    Attribute_type = []
    No_of_instances = []
    No_of_attribute = []
    Year = []

    try:
        #fetching names
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[1]'):
            Name.append(i.text)
        
        #fetching Data_type
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[2]'):
            Data_type.append(i.text)
        
        #fetching Task
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[3]'):
            Task.append(i.text)
        
        #fetching Attribute_type
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[4]'):
            Attribute_type.append(i.text)
        
        #fetching No_of_instances
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[5]'):
            No_of_instances.append(i.text)
        
        #fetching No_of_attribute
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[6]'):
            No_of_attribute.append(i.text)
        
        #fetching Year
        for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[7]'):
            Year.append(i.text)        
        
    except:
        pass
    
except:
    pass

In [105]:
#checking the lengths of all data collected
len(Name),len(Data_type),len(Task), len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year)

(589, 589, 589, 589, 589, 589, 589)

In [107]:
#creating dataframes
df_UCI = pd.DataFrame()
df_UCI['Name'] = Name[1:589]
df_UCI['Data Types'] = Data_type[1:589]
df_UCI['Tasks'] = Task[1:589]
df_UCI['Attribute Types'] = Attribute_type[1:589]
df_UCI['No of Instances'] = No_of_instances[1:589]
df_UCI['No of Attributes'] = No_of_attribute[1:589]
df_UCI['Year'] = Year[1:589]
df_UCI

,Name,Data Types,Tasks,Attribute Types,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [110]:
#closing browser
driver.close()